<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="SocialNetQueryRunner" point="org.eclipse.core.runtime.applications">
    <application cardinality="singleton-global" thread="main" visible="true">
      <run class="social_net.queries.sample_queries.SocialNetQueryRunner"/>
    </application>
  </extension>
  <extension id="social_net.queries.sample_queries.SocialNetQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:social_net.queries.sample_queries.SocialNetQueries" id="social_net.queries.sample_queries.SocialNetQueries">
      <query-specification fqn="social_net.queries.sample_queries.listUsers"/>
      <query-specification fqn="social_net.queries.sample_queries.user_subscribed_to"/>
      <query-specification fqn="social_net.queries.sample_queries.proper_transitive_closure"/>
      <query-specification fqn="social_net.queries.sample_queries.weird_transitive_closure"/>
      <query-specification fqn="social_net.queries.sample_queries.match_users_and_age"/>
    </group>
  </extension>
</plugin>
